<% if current_page.first? %>
  <li class="disabled">
    <span>
        <span aria-hidden="true"><%= raw(t 'views.pagination.previous') %></span>
      </span>
  <% else %>
  <li>
    <%= link_to raw(t 'views.pagination.previous'), url, :remote => remote %>
  <% end %>
</li>
