<div class="container-fluid">
  <h2>Editing article</h2>
  <br />

  <div class="col-md-3 col-lg-3">
    <%= image_tag @item.trainimage.url(:medium), :class => "img-responsive" %>
  <%= link_to 'Delete image', avatar_item_url, method: :delete, :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="col-md-9">
    <%= render 'form' %>
  </div>
</div>
