.form-group.required .control-label:after {
  content:"*";
  color:red;
}

body {
  padding-bottom: 50px;
}

.navbar {
  margin-bottom: 0px !important;
}

h2 {
  margin-top: 20px !important;
  margin-bottom: 0px !important;
}
.img-responsive {
  margin-bottom: 20px !important;
}
